<header>
  <h1>Welcome To Food menu Restaurant</h1><br>
  <nav>
    <a routerLink="/add-product">Add Product</a>
    <a routerLink="/product">Product</a>
    <a routerLink="/login">Logout</a>
  </nav>
</header>

<div class="product-list-container">
  <h2>Product List</h2>
  <table>
    <thead>
      <tr>
        <th>Food Name</th>
        <th>Food Type</th>
        <th>Description</th>
        <th>Payment</th>
        <!-- <th>User</th> -->
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.foodname }}</td>
        <td>{{ product.foodtype }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.payment }}</td>
        <!-- <td>{{ product.user }}</td> -->
        <td>
          <button (click)="editProduct(product.foodid)">Edit</button>
          <button (click)="deleteProduct(product.foodid)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
